@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4 text-center">Kontakty</h1>
<ul>
    <li><a href="~/kontakty/VobornikPetr">Petr Voborník</a></li>
    <li><a href="~/kontakty/HornofAdam">Adam Hornof</a></li>
</ul>
