@page
@{
    ViewData["Title"] = "Adam Hornof";
}

<div class="my-5">
    <div class="d-flex align-items-center mb-4 gap-5">
        <div class="flex-shrink-0 text-md-start">
            <img src="~/img/kontakty/hornof-adam.png" class="img-fluid rounded" width="128" height="128" />
        </div>
        <div>
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>
    <p class="lead">Jsem Adam Hornof – 20letý student a tvůrce webů, který se nebojí zkoušet nové věci.</p>
</div>